#platforms {
    display: none;
}
.list {
    overflow: auto;
    border: 1px solid lightgray;
    margin: 0px;
}
li.pickable {
    margin: 5px;
}
li.pickable:hover {
    background-color: lightgray;
}
li.chosen {
    background-color: lightblue;
}
input.search {
    margin: 5px;
}
form {
    margin-top: 20px;
}
#new, #current {
    padding: 5px;
    margin: 10px;
}
.left {
    display:inline;
    float: left;
    width: 30%;
}
.right {
    display:inline;
    float: left;
}
.clear { clear: both; }

